.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 11rem;
    height: 11rem;
    padding: 1rem 1rem .5rem 1rem;
    margin: .5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 0.2);
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.description {
    word-break: break-all;
    height: 42%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonEdit {
    margin-right: -.5rem;
    padding: 1rem 0;
    border-radius: 20rem;
}
